<!-- <p>Which place is this? HOME</p>

<p>HOME {{ name }}</p>

<button [attr.id-teste]="idButton" (click)="submit()">click</button>



@if(shouldShowTitle) {
    <h1>My title</h1>
} 
@else if (name == "Audemir") {
    <h1>My title {{ name }}</h1>
}
@else {
    <h1>False title</h1>
}

@for (item of listItems; track item) {
    <h2>{{ item }}</h2>
}

@for (item of listObjects; track item.id) {
    <h3>{{ item.id }}</h3>
} -->

<h1>{{ myOutsideProperty }}</h1>

<button (click)="submit()">click</button>